.p3-order-block {
  margin: 1rem;
  border-radius: 0.5rem;
  padding: 20px;
  background-color: white;
  width: 700px;
}

.p3-order-item-block {
  width: 120px;
  height: 120px;
  background-color: #ececec;
  border-radius: 10px;
  margin: auto 5px;
}

.p3-notes {
  width: 300px;
  background-color: white;
  border-radius: 0.5rem;
  margin: 1rem;
  padding: 20px;
}

.p3-notes-bg {
  min-height: 5rem;
  background-color: #ececec;
  padding: 20px;
}

.p3-activity-bg {
  background-color: white;
  border-radius: 0.5rem;
  padding: 20px;
  margin: 1rem;
}

.p3-customer-hr {
  border-style: dashed;
}

.p3-notes button {
  background-color: #e0ede3;
  color: #608030;
  width: 100%;
  margin: 1rem 0;
  font-weight: 500;
}

.p3-notes button:hover {
  background-color: #e0ede3;
  color: #608030;
  width: 100%;
  font-weight: 500;
  margin: 1rem 0;
}

.p3-order-block input {
  border: none;
  border-color: transparent;
}

.btn-page4 {
  background-color: #0f390f;
  outline: none;
  border: none;
  border-radius: 4px;
}

.p3-box {
  background-color: #ececec !important;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
}

.p3-box p {
  margin: 0;
}

.item-text {
  margin: 1rem 0;
}

.p3-button {
  padding: 0.5rem 2rem;
  color: white;
  background-color: #ff6700;
}

.p3-button:hover {
  padding: 0.5rem 2rem;
  color: white;
  background-color: #ff6700;
}
