.mainsection {
  display: flex;
}

.section1 {
  color: white;
  background-color: rgb(15, 57, 15);
  width: 15%;
  padding: 100px 25px;
}
.s1-btn {
  width: 150px;
  border-radius: 10px;
  color: rgb(205, 202, 202);
}
.s1-btn:hover {
  background-color: rgba(199, 190, 190, 0.273);
  width: 150px;
  border-radius: 10px;
}
.p3-main-dropdown {
  background-color: rgba(127, 255, 212, 0);
  color: white;
  padding: 10px;
}

.s2-logotitle {
  font-size: 10px;
  color: rgb(231, 227, 227);
}

.section2 {
  position: relative;
  left: 15%;
  width: 85%;
  background-color: rgba(245, 245, 245, 0.887);
}

.btnround {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(15, 57, 15);
}

.s2-navabar {
  border-bottom: 1px solid black;
}

/* .p2-selection{
      width: 150px;
      height: 20px;
  } */

.s2-btn {
  background-color: rgba(204, 202, 202, 0.803);
  border-radius: 20px;
  margin: 20px;
  border: 0px;
  padding: 0px 20px;
}

.s2-btn:focus {
  background-color: rgb(15, 57, 15);
  color: white;
}
.s2-table {
  background-color: white;
  border-radius: 10px;
}

.s2-table-nava {
  background-color: rgb(201, 200, 200);
  padding: auto 5px;
  border-radius: 100px;
  margin-bottom: 5px;
}
.logo {
  width: 150px;
  height: 150px;
}

.s2-radio {
  background-color: red;
}

.btn-page4 {
  background-color: #0f390f;
  outline: none;
  border: none;
  border-radius: 4px;
}
