.section1 {
  position: fixed;
  color: white;
  background-color: rgb(15, 57, 15);
  width: 15%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.s1-btn {
  width: 150px;
  border-radius: 4px !important;
  color: rgb(205, 202, 202);
  background-color: rgb(15, 57, 15);
}
.s1-btn:hover {
  background-color: rgba(199, 190, 190, 0.273);
  width: 150px;
  border-radius: 4px !important;
  color: rgb(205, 202, 202);
}

/* .dropdown{
  width: 150px;
} */

.dropdown-menu {
  background-color: rgb(15, 57, 15);
  border: 1px solid #fff;
  padding-left: 4px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.logo img {
  width: 100px;
  height: 150px;
}
